{{ template "base" . }}

{{ define "title" }}About{{ end }}

{{ define "content" }}

<section>

  <div class="container">
    <div class="row">
      <div class="col py-5">

        <h2 class="py-2">About</h2>

        <p>This game was developed
          <a href="https://www.karlitasg7.com" target="_blank">karlitasg7</a>
        </p>
        <p>Was developed using Go, bootstrap</p>
        <p>If you want to know more about me, please visit <a href="https://www.karlitasg7.com"
            target="_blank">karlitasg7.com</a></p>

      </div>
    </div>
  </div>
</section>

{{ end }}