{{ define "base" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ template "title" . }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css">

  <style>
    footer p {
      text-align: right !important;
    }
  </style>
</head>

<body>

  <header>

    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between align-items-center">

          <div class="logo">
            <a href="/">Home</a>
          </div>
          <nav>
            <a href="/new">New Game</a>
            <a href="/about">About</a>
          </nav>

        </div>
      </div>
    </div>


  </header>

  <main>
    {{ template "content" . }}
  </main>

  <footer class="bg-light py-4 px-3 fixed-bottom">
    <p class="mb-0">
      <a href="https://www.karlitasg7.com" target="_blank">By karlitasg7</a>
    </p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="static/js/main.js"></script>
</body>

</html>

{{ end }}