{{ template "base" . }}

{{ define "title" }}Game{{ end }}

{{ define "content" }}

<section class="container py-5">
  <h1 class="display-4 fw-bold py-3 text-center">Welcome to the game!!</h1>

  <div class="row">

    <div class="col-md-4">
      <img src="static/img/rock_icon.png" alt="rock_icon" class="img-fluid">
    </div>

    <div class="col-md-4">
      <img src="static/img/paper_icon.png" alt="paper_icon" class="img-fluid">
    </div>

    <div class="col-md-4">
      <img src="static/img/scissors_icon.png" alt="scissors_icon" class="img-fluid">
    </div>

  </div>

  <p class="lead text-center fs-2 py-4">
    Play with the computer
  </p>

  <p class="text-center">
    <a href="/new" class="btn btn-success btn-lg">New Game</a>
  </p>

</section>

{{ end }}